@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.button {
  font-size: 15px;
  border: 2px solid #f7df1e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7df1e;
  color: #fff;
  transition: all 0.3s ease;
  transform: scaleY(1);
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #ceb817;
  }
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 20px;
}

tr {
  border: 1px solid #000;
  padding: 20px;
}

td {
  border: 1px solid #000;
  padding: 20px;
}

.mac {
  padding: 20px;
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
}
.mac__image {
  width: 60px;
  align-self: center;
  margin-bottom: 50px;
}
.mac__image img {
  max-width: 100%;
}
.mac__body {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.mac__line {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.mac__line span {
  flex: 0 1 auto;
  line-height: 1.5;
}
.mac__line:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.mac__line:last-child {
  font-weight: 700;
}
.mac__name {
  display: inline-block;
  width: 130px;
  flex: 0 0 130px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #f7df1e;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__title {
  font-size: 32px;
  font-weight: 700;
}

.page {
  padding: 130px 15px 100px 15px;
  background-color: rgba(247, 222, 30, 0.2);
}
.page__main {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 75px;
}
.page__results {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.page__additional {
  max-width: 1200px;
  margin: 0 auto;
}

.main-page {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.item-main {
  padding: 10px;
  border: 2px solid #f7df1e;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .item-main:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.item-main__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  z-index: 3;
}
.item-main__text {
  flex: 1 1 auto;
  font-size: 16px;
  margin-bottom: 15px;
}
.item-main__text p {
  line-height: 1.5;
}
.item-main__text img {
  width: 100%;
}
.item-main__button {
  font-size: 15px;
  border: 2px solid #f7df1e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7df1e;
  color: #fff;
  transition: all 0.3s ease;
  transform: scaleY(1);
}
@media (any-hover: hover) {
  .item-main__button:hover {
    background-color: #ceb817;
  }
}

.task__text {
  margin-bottom: 40px;
}
.task__text img {
  max-width: 200px;
}
.task__title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.task__button {
  width: 290px;
}

.additional-page__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
.additional-page__items {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.item-additional {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
  border-bottom: 1px solid rgba(247, 222, 30, 0.5);
  border-right: 1px solid rgba(247, 222, 30, 0.5);
}
@media (any-hover: hover) {
  .item-additional:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .item-additional:hover .item-additional__button {
    max-width: 100%;
    letter-spacing: 5px;
    background-color: #f7df1e;
    color: #fff;
  }
}
@media (any-hover: hover) and (any-hover: hover) {
  .item-additional:hover .item-additional__button:hover {
    background-color: #ceb817;
  }
}
.item-additional__title {
  font-size: 20px;
  font-weight: 700;
}
.item-additional__text {
  line-height: 1.5;
}
.item-additional__button {
  border: 2px solid #f7df1e;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 290px;
  padding: 10px;
  transition: all 0.6s ease;
  color: #000;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #f7df1e;
  padding: 10px 15px;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 360px) {
  .footer__text {
    flex-direction: column;
    row-gap: 10px;
  }
}
.footer__text span:nth-child(1) {
  font-weight: 700;
}
.footer__text span:nth-child(2) {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */